.sign-in-container {
    font-family: 'Calibri', sans-serif;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign-in-container h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.sign-in-container label {
    display: block;
    font-family: 'Calibri', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.sign-in-container input {
    width: 100%;
    font-family: 'Calibri', sans-serif;
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.sign-in-container button {
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #da5b00;
    width: 10rem;
    display: flex;
    margin-left: 6rem;
    align-items: center;
    justify-content: center;
}

.sign-in-container button:hover {
    background-color: #b84a00;
}