.flaskenv
.env
.env.*

alembic.ini
alembic

local_flask_sessions/*

.credentials_firebase_adminsdk_8mtwu_187f5d4799.json
.credentials_firebase_adminsdk_n0xv8_cd14a39876.json
.firebase_config.json
.env.local

uploads_cache/*
!uploads_cache/tmp

./virutalenv/
./.venv/
build/

.idea/

.vscode/

__pycache__/