@import url('https://fonts.googleapis.com/css2?family=Calibri&display=swap');

.job-position-container {
    font-family: 'Calibri', sans-serif;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.job-posting-card h1 {
    margin-bottom: 2rem;
    font-size: 24px;
    text-align: center;
}

.job-type-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 1.25rem;
}

.job-type-section h3 {
    margin: 1rem;
    font-size: 1.2rem;
}

.job-type-section button {
    font-size: 1rem;
    width: 8rem;
    text-align: center;
    padding: 0rem 0rem;
    border: none;
    border-radius: 5px;
    color: #282c34;
    cursor: pointer;
}

.job-type-section .active {
    background-color: #da5b00;
    color: #ffffff;
}

.job-type-section .inactive {
    color: #da5b00;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
}

form input[type="text"]::placeholder,
form textarea::placeholder {
    color: #999;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: #da5b00;
}

form input[type="range"] {
    width: 100%;
}

#start-date-input {
    margin-bottom: 1rem;
}

#end-date-input {
    margin-bottom: 1rem;
}


form .salary-section {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

form .salary-scroll-bar {
    height: 0.625rem;
    position: relative;
    margin-right: 0.5rem;
    border-radius: 5px;
}

form .salary-display {
    font-size: 1.2rem;
    min-width: 75px;
}

form .industry-tags-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
}

form .industry-tags-example {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1rem;
}

form .industry-tags-example span {
    font-size: 0.8rem;
    background-color: #da5b00;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

form .industry-tags-input-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

form .industry-tag {
    font-size: 0.8rem;
    background-color: #da5b00;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.industry-tag button {
    font-size: 0.8rem;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #da5b00;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 0.2rem;
    margin-left: 0.5rem;
}

form textarea {
    height: 10rem;
    resize: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
}

form .word-count {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.apply-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

form .apply-button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #da5b00;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 40rem) {
    .blur-card {
        width: 90%;
    }
}
