.app {
  background: #eead88;
}
.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  max-width: 600px;
}

.comment-card {
  border-color: #cccccc;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.19);
  padding: 16px;
  margin-bottom: 16px;

}
.comment-card * {
  font-family: 'Lato', sans-serif;
}
.comment-title {
  margin: 0 auto;
  text-align: center;
}
.comment-body {
  margin: 10px 0px;
  text-align: justify;
}

.comment-avatar .menu-trigger {
  padding: 0;
  background: none;
  box-shadow: none;
}
.comment-avatar .avatar-container {
  padding: 0;
  background: none;
  box-shadow: none;
}
.comment-avatar .avatar-label {
  padding: 0;
  background: none;
  box-shadow: none;
}
/*.comment-avatar,.comment-info {*/
/*  display: inline-block;*/
/*}*/

.comment-info {
  color: #8fa1b7;
  font-family: 'Verdana',sans-serif;
  font-style: oblique;
  font-size: 1.233333ch;

}
.comment-info > * {
  text-wrap: normal;
}
.comment-moreoptions button {
  float: right;
  margin-left: 85px;
}
.post-comment-form {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}

.post-comment-form label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

.post-comment-form input[type="text"],
.post-comment-form textarea {
  background-color: #fff;
  color: #2f2f2f;
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
  flex-wrap: wrap;
}

.post-comment-form textarea {
  min-height: 80px;
}

.post-comment-form input[type="submit"] {
  background-color: #4cb5f5;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.post-comment-form input[type="submit"]:hover {
  background-color: #3ca4db;
}

.toggle-replies {
  background-color: #f2f9ff;
  color: #1e90ff;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.toggle-replies:hover {
  background-color: #d6eaff;
}

.toggle-replies:focus {
  outline: none;
  box-shadow: 0 0 3px 3px #d6eaff;
}

.toggle-replies.collapsed {
  background-color: #1e90ff;
  color: #fff;
}

.replies {
  margin-left: 20px;
  padding: 10px;
  /*border: 1px solid #ccc;*/
}


/* Added styling for h2 and h3 headers */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.reply-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.reply-form {
  display: flex;
  flex-direction: column;
  background-color: #f2f9ff;
  padding: 20px;
  border-radius: 5px;
}

.reply-form label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}
.reply-form input[type="text"],
.reply-form textarea {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  flex-grow: 1;
}

.reply-form button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #1e90ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.reply-form button:hover {
  background-color: #007bff;
}

.reply-form button:active {
  background-color: #005cbf;
}
.reaction-box {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  float: right;
  margin-right: -30px;
}
