.Debug {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;

}
button {
  color: red;
  height: 5vmin;
  width: 5vmin;
  font-size: 2.5vmin;
  padding-right: .8vmax;
  position: relative;
}
.Debug-header {

  font-family: "Courier New", serif;

}
/*.Debug form{*/
/*  display: flex;*/
/*  height: 40vh;*/
/*  align-self: center;*/
/*  align-items: center;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*}*/


.Debug form {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;

}
.Debug form label       { text-align:right; }
.Debug form label[for^="comment_"]:after { content: ":"; }
.Debug form input {  }

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/
/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/
/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/



