.post-comment-container {
  font-family: 'Calibri', sans-serif;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #282c34;
}

.post-comment-container h1,
.post-comment-container h2,
.post-comment-container h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.job-posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.comment-form {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
  margin: 0 auto;
}

.comment-form label {
  text-align: right;
}

.comment-form label[for^='comment_']:after {
  content: ':';
}

.comment-form input,
.comment-form textarea {
  margin-left: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
}

.comment-form textarea {
  width: 100%;
  resize: none;
}

.submit-button-wrapper {
  display: flex;
  justify-content: center;
  grid-column: 1 / span 2;
}

#submitComment {
  background-color: #da5b00;
  color: #fff;
  border: none;
  border-radius:  5px;
  font-size: 1.2rem;
  padding: 8px 16px;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submitComment:hover {
  background-color: #b84a00;
}
