<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firebase Login test</title>
</head>
<body>
<form action="/firebase-api/signin" method="POST">
    <label>Email:
        <input type="email" name="email" required/>
    </label>
    <label>Password:
        <input type="password" name="password" required/>
    </label>
    <input type="submit" value="Sign in"/>
</form>
<form action="/firebase-api/signup">
    <input type="submit" value="New? Click here to sign up!"/>
</form>
</body>
</html>