<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firebase Signup Test</title>
</head>
<body>
<script>



</script>
<form action="/firebase-api/signup" method="POST" enctype="multipart/form-data">
    <label>
        First Name:
        <input type="text" name="firstName" required pattern="[a-zA-Z-]+"/>
    </label><br>
    <label>
        Last Name:
        <input type="text" name="lastName" required pattern="[a-zA-Z-]+"/>
    </label><br>
    <label>
        Email:
        <input type="email" name="email" required>
    </label><br>

    <label> User type:
      <br> Student/Job Seeker:  <input type="radio" name="userType" value="jobseeker" required>
    <br> Employer: <input type="radio" name="userType" value="employer">
    <br> Admin: <input type="radio" name="userType" value="admin">
    </label><br>

    <label> Password:
        <input type="password" name="password" required
        onchange="checkConfirmedPassword();" />
    </label><label> Confirm Password: <input id="confirmPassword" name="confirmPassword"
                                             type="password" required
            onchange="checkConfirmedPassword();"/></label>
    <br>


<p><label for="profilePicture" style="cursor: pointer;">Upload Profile Picture: </label></p>
       <p><input type="file"  accept="image/*" name="profilePicture" id="profilePicture"  onchange="loadPfp(event)"
    placeholder="Photo" required="" capture>
           <img src="http://lorempixel.com/100/100" id="pfpOutput" width="200" /></p>

<script>
const loadPfp = function(event) {
	let image = document.getElementById('pfpOutput');
	image.src = URL.createObjectURL(event.target.files[0]);

};
const checkConfirmedPassword = function() {
    const confirmedPw = document.querySelector('input[name=confirmPassword]');
    if (confirmedPw.value === document.querySelector('input[name=password]').value ){
        confirmedPw.setCustomValidity("");
    }else {
        confirmedPw.setCustomValidity("Passwords don't match. Must confirm. ")
    }
}
</script>
    <input type="submit" value="Create Account" onclick="console.log('ASDSAD')"/>
</form>
</body>
</html>